<div class="container">
    <h3>Transfer Money</h3>
    <form>
        <div class="form-group ag">
          <label for="from-account">From Account:</label>
          <input type="text" class="form-control" id="from-account" name="fromAccount" placeholder="XXXX-XXXX-XXXX-XXXX" pattern="[0-9]{16}" required>
        </div>
        <div class="form-group ag">
          <label for="to-account">To Account:</label>
          <input type="text" class="form-control" id="to-account" name="toAccount" placeholder="XXXX-XXXX-XXXX-XXXX"pattern="[0-9]{16}" required>
        </div>
        <div class="form-group ag">
          <label for="amount">Amount:</label>
          <input type="number" class="form-control" id="amount" name="amount" placeholder="Enter Amount to be transfer">
        </div>
        <button type="submit" class="btn btn-primary">Transfer Money</button>
      </form>

</div>

  
